<!-- Bootstrap Footer Example -->
<footer class="text-white bg-dark py-4">
    <div class="container">
        <div class="row">
            <!-- About Section -->
            <div class="col-md-3">
                <h5 class="text-uppercase">Shopkart</h5>
                <p>shopkart.com is a one-stop destination for your family's fashion needs. We give you the opportunity to give your wardrobe a makeover with the latest collections from top brands.</p>
            </div>

            <!-- Products Links -->
            <div class="col-md-2">
                <h5 class="text-uppercase">Products</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Menu</a></li>
                    <li><a href="#" class="text-white">Menu</a></li>
                    <li><a href="#" class="text-white">Menu</a></li>
                    <li><a href="#" class="text-white">Menu</a></li>
                </ul>
            </div>

            <!-- Useful Links -->
            <div class="col-md-2">
                <h5 class="text-uppercase">Useful Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Menu</a></li>
                    <li><a href="#" class="text-white">Menu</a></li>
                    <li><a href="#" class="text-white">Menu</a></li>
                    <li><a href="#" class="text-white">Menu</a></li>
                </ul>
            </div>

            <!-- Contact Section -->
            <div class="col-md-3">
                <h5 class="text-uppercase">Contact</h5>
                <ul class="list-unstyled">
                    <li><span class="text-white">Tutor Joes</span></li>
                    <li><a href="mailto:info@example.com" class="text-white">info@example.com</a></li>
                    <li><span class="text-white">+91 9043017689</span></li>
                </ul>
            </div>

            <!-- Social Media Icons -->
            <div class="col-md-2 text-center">
                <h5 class="text-uppercase">Follow Us</h5>
                <a href="#"><i class="fab fa-facebook text-white"></i></a>
                <a href="#"><i class="fab fa-twitter text-white"></i></a>
                <a href="#"><i class="fab fa-instagram text-white"></i></a>
                <a href="#"><i class="fab fa-linkedin text-white"></i></a>
                <a href="#"><i class="fab fa-google text-white"></i></a>
            </div>
        </div>
        <hr>
        <!-- Copyright Section -->
        <div class="row">
            <div class="col-12 text-center">
                <p class="text-white mb-0">© 2024 Copyright shopkart.in</p>
            </div>
        </div>
    </div>
</footer>

<!-- Include FontAwesome for social media icons -->
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
