{% extends "shop/layouts/main.html" %}

{% block title %}
    Regeister | Shopkart 
{% endblock title %}

{% block content %}
    <h1>Regeister page</h1>
    <div class="container " style ="margin-top:70px;min-height:600px">
        <div class="row">
            <div class="col-12">
                <h1>User Login</h1>
                <hr style="border-color : #b8bfc2;">
                {{form}}
            </div>
        </div>
        <section class="py-4 my-5">
            <div class="container">
                <div class="col-6">
                    
                    <p class="my-2">Already user? <a href="login.html">Login Now </a> </p>
                </div>
            </div>

    </div>  
{% endblock content %}
 